extends layout

block content

	div.content-block.top-block
		div.text-block.cf
			h2#introduction Picturing WILCUMESTOUUE

			p Come and join Eight Legged Horse arts organisation as we illustrate the natural world of Walthamstow Marshes and learn how to write a Viking Kenning to accompany your creations. Upload your pictures and kennings to our interactive nature map using the hashtag #Eight17 on Instagram or Twitter and see if we can chart the wildlife of the marshes!
			img.full-width(src="images/leaves.png")

		div.text-block.cf

			h2 Where, what, who?

			p Meet at the Coppermill Pub, 205 Coppermill Lane, E17 7HF, the Coppermill Lane entrance to the marshes. Bring Something to lean on! A clipboard would work well. Pencils and colouring pencils would also be great, though we will have a limited supply. All ages are welcome from 4+. Although this is a family event, everyone can take part.

		div.text-block.cf
			h2 What is a Kenning?

			img.float-img-left(src="images/owl.png")

			p Kennings are riddle-like phrases used by Viking and Anglo-Saxon poets to refer to or describe something without naming it directly. For example, a crow becomes a ‘swan of blood’, a snake is described as a ‘valley-trout’. The technique is easy to learn and after a small demonstration children can easily create their own.

		div.text-block.cf
			h2 Who is Eight Legged Horse?

			img.float-img-right(src="images/mouse.png")

			p Erica Read works as a freelance illustrator and conservator and has worked for the Natural History Museum and illustrator Sir Quentin Blake. She loves creative projects and recently designed and built a 10 foot polar bear costume for the band British Sea Power.

			p Emma Hammond is an experimental poet with her second book coming out this year. She mentors at the Ministry of Stories and ran a series of workshops about the Kenning in conjunction with Cambridge University.

			p Mairead Buchan is a creative web developer, specialising in exciting interactive experiences. When not making websites Mairead likes to make other things: Costume design, Set design, Game design and other toys.

			p 
			|Find out more about 
			a(href="https://www.facebook.com/eightleggedhorse?fref=ts" target="_blank") Eight Legged Horse on Facebook
			= ' '
			| or follow 
			a(href="https://twitter.com/odinshorse" target="_blank") @odinshorse on Twitter
			|. 

		div.text-block.cf
			h2 What if I can’t make the events?

			img.float-img-left(src="images/starlings.png")

			p If you can't make the events then we would love for you to still take part by exploring the marshes yourself and drawing or writing your own kennings. Don’t forget to let us see them using the hashtag #Eight17.

	

	div.content-block
		div.map-block#map

			
			#show-route
				button Show map
			.map-container
				#route-layer
				#map-canvas

	div.content-block
		div.text-block.masonry-block#sightings
			#masonry-layout.masonry-layout

				- each item in data.random
					-if(item.type === 'instagram'){
						-if(item.imgSize === 'large'){
							div.user-item.instagram-item.large-item
								span.title.caption #{item.txt}
								a(href='#{item.link}', target="_blank")
									img.user-imgs(src=item.imgUrl)
								p.username creator: #{item.user}
						-}else{
							div.user-item.instagram-item.small-item
								span.title.caption #{item.txt}
								a(href='#{item.link}', target="_blank")
									img.user-imgs(src=item.imgUrl)
								p.username creator: #{item.user}
						-}
							
							
					-}else{
						div.user-item.tweet-item
							p.caption #{item.txt}
							p.username creator: #{item.user}
					-}
						
			

